.projectspage{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.smallProjectItems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 1300px;
    @media (max-width: 800px) { min-width: 75%; }
    @media (max-width: 1200px) { min-width: 60%; }
    @media (max-width: 1500px) { width: 60%; }

}