.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Consolas";
    background: rgb(10, 1, 15);
    margin: 0px;
    padding: 0px;
}

.text{
    font-size: 5em;
    width: 80%;
    text-align: center;
    border: 2px solid white;
    padding: 0.3em;
    border-radius: 0.3em;
}