.videosPage{
    height: 100%;
    width: 100%;
}

.videoImage{
    width: 100%;
    height: auto;
}

.videoItem{
    max-width: 800px;
    margin: 2em;
    padding: 1em;
    border: 1px solid white;
}

.videoList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}