.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: rgb(43, 43, 43);
}

.gamecanvas{
    width: 50%;
}

.gamebutton{
    width: 100px;
    height: 100px;
    color: white;
}