.createBadgePage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headline{
    font-size: 2.2em;
    margin-bottom: 0.5em;
}