.interestsitem{
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border-radius: 1em;
    margin: 3em;
    max-width: 1300px;
    transition-duration: 300ms;
    box-shadow: 0 0 3em var(--accentdark);
    border: 0.3em solid var(--accentdark);
    text-decoration: none;
    color: white;

    @media (max-width: 800px) { min-width: 75%; }
    @media (max-width: 1200px) { min-width: 60%; }
    @media (max-width: 1500px) { width: 60%; }
}

.image{
    @media (max-width: 1500px) { width: 70%; }
    width: 90%;
    height: auto;
    border-radius: 1em;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

.text{
    margin-top: 1em;
    width: 90%;
    text-align: center;
    font-size: 1.2em;
    @media (max-width: 800px) { font-size: 1em;}
}

.headline{
    font-size: 3em;
    @media (max-width: 800px){font-size: 2em;}
}

.buttons{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: 800px){max-width: 80%;}
}

.button{
    font-size: 1.3em;
    border: 0.15em solid white;
    border-radius: 1em;
    margin: 1em;
    padding: 0.2em 1em 0.2em 1em;
    cursor: pointer;
    min-width: 5em;
    text-align: center;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition-duration: 300ms;
    
    @media (max-width: 800px) { margin: 0.2em; font-size: 0.8em; }

    &:hover{
        background-image: linear-gradient(-225deg, var(--accent2) 0%, var(--accent1) 50%, var(--accent2) 90%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        animation: textanimation 5s linear infinite;
        color: #fff;
    }
    & div{
        transition-duration: .5s;
    }
    &:hover div{
        margin-left: -1em;
    }
    &:hover .icon{
        opacity: 1;
        margin-right: -1em;
    }
}


@keyframes textanimation {
    to {
        background-position: 200% center;
    }
}


.icon{
    margin-left: 0.5em;
    width: 1.5em;
    height: auto;
    opacity: 0;
    margin-right: -2em;
    transition-duration: .5s;
    transition-delay: 100ms;
}
