.featurespage{
    margin-top: 10em;
    min-height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.featureItems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1000px;
}

.headline{
    font-size: 3em;
    margin-bottom: 1em;
}