.aboutitem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    height: 9em;
    margin: 0.8em;
    border-radius: 1em;
    user-select: none;
    transition-duration: 300ms;
    border: 0.2em solid var(--accent2);
    box-shadow: 0 0 1em var(--accent2);
    background-color: rgb(32, 32, 32);

    @media (max-width: 480px) { width: 12em; height: 7em;}
    @media (max-width: 700px) { width: 9em; height: 7em;}
    @media (max-width: 900px) { width: 11em; height: 7em;}

}

.headline{
    font-size: 1.8em;
    text-align: center;
    @media (max-width: 500px) { font-size: 1.2em;}
    @media (max-width: 700px) { font-size: 1.3em;}
    @media (max-width: 900px) { font-size: 1.4em;}
}

.text{
    margin-top: 0.2em;
    font-size: 1.3em;
    @media (max-width: 500px) { font-size: 0.7em;}
    @media (max-width: 700px) { font-size: 1em;}
    @media (max-width: 900px) { font-size: 1.2em;}
}
