.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    background-color: var(--background);
    color: white;
    user-select: none;
}

.headline{
    font-size: 5em;
    @media (max-width: 1200px) { font-size: 3.5em;}
    @media (max-width: 800px) { font-size: 2em;}
    @media (max-width: 500px) { font-size: 1.5em;}
    color: var(--accent2);
    text-shadow: 0 0 10px var(--accent2), 0 0 20px var(--accent2);
    animation: typing 5s steps(27) forwards;
    text-align: center;
    font-family: monospace;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.gamesList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.imprint{
    font-size: 1em;
    position: absolute;
    bottom: 0;
}