.icon{
    width: 2.5em;
    height: 2.5em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding: 0.2em;
    border: 0.15em solid transparent;
    border-radius: 50%;
    transition-duration: 200ms;
    &:hover{
        border: 0.15em solid var(--accent1);;
        box-shadow: 0 0 2em var(--accent1);
    }
    @media (max-width: 600px) { width: 1.9em; height: 1.9em; margin-top: 0.3em; margin-bottom: 0.3em; }
}

.link{
    text-decoration: none;
    color: white;

}