body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

:root{
  --accent1: #880088;
  --accent2: #202449;
  --background: #0b111e;
  /*404 Page colors*/
  --textColor1: rgb(195, 0, 255);
  --textColor2: rgb(0, 255, 30);
  --textColor3: rgb(0, 204, 255);
  --textColor4: rgb(217, 0, 255);
}