.titlePage{
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.titleImage{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.titleImageContainer{
    box-shadow: 20px 20px 50px var(--accent3);
    border-bottom: 2px solid var(--accent3);
    width: 100%;
    height: 20vh;
    min-height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headline{
    color: var(--textColor);
    font-size: 8em;
    @media (max-width: 1000px) {font-size: 6em; }
    @media (max-width: 600px) {font-size: 5em; }
    @media (max-width: 400px) {font-size: 3em; }}

.subheadline{
    font-weight: lighter;
    font-size: 1.4em;
    @media (max-width: 600px) {font-size: 1.1em; }
    color: rgb(121, 121, 121);
}

.texts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: 'Poppins',sans-serif;
}

.droneImageLink{
    display: flex;
    align-items: center;
    justify-content: center;
}

.droneImage{
    margin-top: 2em;
    width: 40%;
    height: auto;
    @media (min-width: 1200px) { width: 20%;}
    transition-duration: .4s;
    &:hover {
        transform: rotateZ(20deg);
        cursor: pointer;
    }
    // animation: droneFly 5s forwards;
    // animation-delay: 5s;

}

// @keyframes droneFly {
//     100%{
//         transform: translate3d(50%, -100vh,0);
//     }
// }