:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--background);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --accent1: #880088;
    --accent2: #202449;
    --background: #0b111e;
    /*404 Page colors*/
    --textColor1: rgb(195, 0, 255);
    --textColor2: rgb(0, 255, 30);
    --textColor3: rgb(0, 204, 255);
    --textColor4: rgb(217, 0, 255);
  }
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }