.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
}

.top{
    text-align: center;
    position: absolute;
    top: 5%;
}

.headline{
    font-size: 2.5em;
}

.subheadline{
    font-size: 1.2em;
    color: rgb(150, 150, 150);
}

.centered{
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 2em;
}

.codebox{
    margin: 0.5em;
    display: flex;
    bottom: 10%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 2em;
    padding-top: 1em;
}

.codeHeadline{
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 1em;
    color: gray;
}

.code{
    font-size: 1.3em;
    display: inline-flex;
    font-family: "Consolas";
}
.codeVertical{
    font-size: 1.3em;
    font-family: "Consolas";
    display: flex;
    flex-direction: column;
}

.red{
    color: red;
}
.blue{
    color: rgb(0, 119, 255);
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}

.codeboxes {
    bottom: -20%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.inline{
    white-space:pre;
    display: inline-flex;
}