.timeToSilvester {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: "Consolas";
    user-select: none;
}

.timeDisplay {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 8px rgb(255, 0, 255), 0 0 16px rgb(255, 0, 255), 0 0 32px rgb(255, 0, 255),
        0 0 64px rgb(255, 0, 255), 0 0 256px rgb(255, 0, 255), 0 0 512px rgb(255, 0, 255);
    font-size: 50px;
}

.timeHead {
    font-size: 60px;
    color: white;
    margin-bottom: 50px;
    text-shadow: 0 0 8px #00ff00, 0 0 16px #00ff00, 0 0 32px #00ff00, 0 0 64px #00ff00, 0 0 256px #00ff00,
        0 0 512px #00ff00;
}